<div class="container">
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-3">
        <div class="mb-3">
          <label for="rowId">rowId</label>
          <input
            type="text"
            class="form-control"
            id="rowId"
            name="rowId"
            formControlName="rowId"
          />
        </div>
      </div>
      <div class="col-3">
        <div class="mb-3">
          <label for="parRowId">parRowId</label>
          <input
            type="text"
            class="form-control"
            id="parRowId"
            name="parRowId"
            formControlName="parRowId"
          />
        </div>
      </div>
      <div class="col-3">
        <div class="mb-3">
          <label for="lovType">lovType</label>
          <input
            type="text"
            class="form-control"
            id="lovType"
            name="lovType"
            formControlName="lovType"
          />
        </div>
      </div>
      <div class="col-3">
        <div class="mb-3">
          <label for="lovName">lovName</label>
          <input
            type="text"
            class="form-control"
            id="lovName"
            name="lovName"
            formControlName="lovName"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <div class="mb-3">
          <label for="displayVal">displayVal</label>
          <input
            type="text"
            class="form-control"
            id="displayVal"
            name="displayVal"
            formControlName="displayVal"
          />
        </div>
      </div>
      <div class="col-3">
        <div class="mb-3">
          <label for="lovVal1">lovVal1</label>
          <input
            type="text"
            class="form-control"
            id="lovVal1"
            name="lovVal1"
            formControlName="lovVal1"
          />
        </div>
      </div>
      <div class="col-3">
        <div class="mb-3">
          <label for="lovVal2">lovVal2</label>
          <input
            type="text"
            class="form-control"
            id="lovVal2"
            name="lovVal2"
            formControlName="lovVal2"
          />
        </div>
      </div>
      <div class="col-3">
        <div class="mb-3">
          <label for="lovVal3">lovVal3</label>
          <input
            type="text"
            class="form-control"
            id="lovVal3"
            name="lovVal3"
            formControlName="lovVal3"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <div class="mb-3">
          <label for="lovVal4">lovVal4</label>
          <input
            type="text"
            class="form-control"
            id="lovVal4"
            name="lovVal4"
            formControlName="lovVal4"
          />
        </div>
      </div>
      <div class="col-3">
        <div class="mb-3">
          <label for="lovVal5">lovVal5</label>
          <input
            type="text"
            class="form-control"
            id="lovVal5"
            name="lovVal5"
            formControlName="lovVal5"
          />
        </div>
      </div>
      <div class="col-3">
        <div class="mb-3">
          <label for="lovVal6">lovVal6</label>
          <input
            type="text"
            class="form-control"
            id="lovVal6"
            name="lovVal6"
            formControlName="lovVal6"
          />
        </div>
      </div>
      <div class="col-3">
        <div class="mb-3">
          <label for="lovVal7">lovVal7</label>
          <input
            type="text"
            class="form-control"
            id="lovVal7"
            name="lovVal7"
            formControlName="lovVal7"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <div class="mb-3">
          <label for="lovVal8">lovVal8</label>
          <input
            type="text"
            class="form-control"
            id="lovVal8"
            name="lovVal8"
            formControlName="lovVal8"
          />
        </div>
      </div>
      <div class="col-3">
        <div class="mb-3">
          <label for="lovVal9">lovVal9</label>
          <input
            type="text"
            class="form-control"
            id="lovVal9"
            name="lovVal9"
            formControlName="lovVal9"
          />
        </div>
      </div>
      <div class="col-3">
        <div class="mb-3">
          <label for="lovVal10">lovVal10</label>
          <input
            type="text"
            class="form-control"
            id="lovVal10"
            name="lovVal10"
            formControlName="lovVal10"
          />
        </div>
      </div>
      <div class="col-3">
        <div class="mb-3">
          <label for="activeFlg">activeFlg</label>
          <input
            type="text"
            class="form-control"
            id="activeFlg"
            name="activeFlg"
            formControlName="activeFlg"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <div class="mb-3">
          <label for="textDesc">textDesc</label>
          <input
            type="text"
            class="form-control"
            id="textDesc"
            name="textDesc"
            formControlName="textDesc"
          />
        </div>
      </div>
      <div class="col-3">
        <div class="mb-3">
          <label for="orderBy">orderBy</label>
          <input
            type="number"
            class="form-control"
            id="orderBy"
            name="orderBy"
            formControlName="orderBy"
          />
        </div>
      </div>
      <div class="col-3">
        <div class="mb-3">
          <label for="modificationNum">modificationNum</label>
          <input
            type="number"
            class="form-control"
            id="modificationNum"
            name="modificationNum"
            formControlName="modificationNum"
          />
        </div>
      </div>
      <div class="col-3">
        <div class="mb-3">
          <label for="created">created</label>
          <input
            type="date"
            class="form-control"
            id="created"
            name="created"
            formControlName="created"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <div class="mb-3">
          <label for="createBy">createdBy</label>
          <input
            type="text"
            class="form-control"
            id="createBy"
            name="createBy"
            formControlName="createBy"
          />
        </div>
      </div>
      <div class="col-3">
        <div class="mb-3">
          <label for="lastUpd">lastUpd</label>
          <input
            type="date"
            class="form-control"
            id="lastUpd"
            name="lastUpd"
            formControlName="lastUpd"
          />
        </div>
      </div>
      <div class="col-3">
        <div class="mb-3">
          <label for="lastUpdBy">lastUpdBy</label>
          <input
            type="text"
            class="form-control"
            id="lastUpdBy"
            name="lastUpdBy"
            formControlName="lastUpdBy"
          />
        </div>
      </div>
      <div class="col-3">
        <div class="mb-3">
          <label for="groupType">groupType</label>
          <input
            type="text"
            class="form-control"
            id="groupType"
            name="groupType"
            formControlName="groupType"
          />
        </div>
      </div>
    </div>

    <div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
