<div class="container">
    <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-3">
                <div class="mb-3">
                    <label for="row_ID">rowId</label>
                    <input type="text" class="form-control" id="row_ID" name="row_ID" formControlName="row_ID">
                </div>
            </div>
            <div class="col-3">
                <div class="mb-3">
                    <label for="par_ROW_ID">parRowId</label>
                    <input type="text" class="form-control" id="par_ROW_ID" name="par_ROW_ID"
                        formControlName="par_ROW_ID">
                </div>
            </div>
            <div class="col-3">
                <div class="mb-3">
                    <label for="lov_TYPE">lovType</label>
                    <input type="text" class="form-control" id="lov_TYPE" name="lov_TYPE" formControlName="lov_TYPE">
                </div>
            </div>
            <div class="col-3">
                <div class="mb-3">
                    <label for="lov_NAME">lovName</label>
                    <input type="text" class="form-control" id="lov_NAME" name="lov_NAME" formControlName="lov_NAME">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <div class="mb-3">
                    <label for="display_VAL">displayVal</label>
                    <input type="text" class="form-control" id="display_VAL" name="display_VAL"
                        formControlName="display_VAL">
                </div>
            </div>
            <div class="col-3">
                <div class="mb-3">
                    <label for="lov_VAL1">lovVal1</label>
                    <input type="text" class="form-control" id="lov_VAL1" name="lov_VAL1" formControlName="lov_VAL1">
                </div>
            </div>
            <div class="col-3">
                <div class="mb-3">
                    <label for="lov_VAL2">lovVal2</label>
                    <input type="text" class="form-control" id="lov_VAL2" name="lov_VAL2" formControlName="lov_VAL2">
                </div>
            </div>
            <div class="col-3">
                <div class="mb-3">
                    <label for="lov_VAL3">lovVal3</label>
                    <input type="text" class="form-control" id="lov_VAL3" name="lov_VAL3" formControlName="lov_VAL3">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <div class="mb-3">
                    <label for="lov_VAL4">lovVal4</label>
                    <input type="text" class="form-control" id="lov_VAL4" name="lov_VAL4" formControlName="lov_VAL4">
                </div>
            </div>
            <div class="col-3">
                <div class="mb-3">
                    <label for="lov_VAL5">lovVal5</label>
                    <input type="text" class="form-control" id="lov_VAL5" name="lov_VAL5" formControlName="lov_VAL5">
                </div>
            </div>
            <div class="col-3">
                <div class="mb-3">
                    <label for="lov_VAL6">lovVal6</label>
                    <input type="text" class="form-control" id="lov_VAL6" name="lov_VAL6" formControlName="lov_VAL6">
                </div>
            </div>
            <div class="col-3">
                <div class="mb-3">
                    <label for="lov_VAL7">lovVal7</label>
                    <input type="text" class="form-control" id="lov_VAL7" name="lov_VAL7" formControlName="lov_VAL7">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <div class="mb-3">
                    <label for="lov_VAL8">lovVal8</label>
                    <input type="text" class="form-control" id="lov_VAL8" name="lov_VAL8" formControlName="lov_VAL8">
                </div>
            </div>
            <div class="col-3">
                <div class="mb-3">
                    <label for="lov_VAL9">lovVal9</label>
                    <input type="text" class="form-control" id="lov_VAL9" name="lov_VAL9" formControlName="lov_VAL9">
                </div>
            </div>
            <div class="col-3">
                <div class="mb-3">
                    <label for="lov_VAL10">lovVal10</label>
                    <input type="text" class="form-control" id="lov_VAL10" name="lov_VAL10" formControlName="lov_VAL10">
                </div>
            </div>
            <div class="col-3">
                <div class="mb-3">
                    <label for="active_FLG">activeFlg</label>
                    <input type="text" class="form-control" id="active_FLG" name="active_FLG"
                        formControlName="active_FLG">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <div class="mb-3">
                    <label for="text_DESC">textDesc</label>
                    <input type="text" class="form-control" id="text_DESC" name="text_DESC" formControlName="text_DESC">
                </div>
            </div>
            <div class="col-3">
                <div class="mb-3">
                    <label for="order_BY">orderBy</label>
                    <input type="text" class="form-control" id="order_BY" name="order_BY" formControlName="order_BY">
                </div>
            </div>
            <div class="col-3">
                <div class="mb-3">
                    <label for="modification_NUM">modificationNum</label>
                    <input type="number" class="form-control" id="modification_NUM" name="modification_NUM"
                        formControlName="modification_NUM">
                </div>
            </div>
            <div class="col-3">
                <div class="mb-3">
                    <label for="created">created</label>
                    <input type="datetime-local" class="form-control" id="created" name="created"
                        formControlName="created">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <div class="mb-3">
                    <label for="created_BY">createdBy</label>
                    <input type="text" class="form-control" id="created_BY" name="created_BY"
                        formControlName="created_BY">
                </div>
            </div>
            <div class="col-3">
                <div class="mb-3">
                    <label for="last_UPD">lastUpd</label>
                    <input type="datetime-local" class="form-control" id="last_UPD" name="last_UPD"
                        formControlName="last_UPD">
                </div>
            </div>
            <div class="col-3">
                <div class="mb-3">
                    <label for="last_UPD_BY">lastUpdBy</label>
                    <input type="text" class="form-control" id="last_UPD_BY" name="last_UPD_BY"
                        formControlName="last_UPD_BY">
                </div>
            </div>
            <div class="col-3">
                <div class="mb-3">
                    <label for="group_TYPE">groupType</label>
                    <input type="text" class="form-control" id="group_TYPE" name="group_TYPE"
                        formControlName="group_TYPE">
                </div>
            </div>
        </div>

        <div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>